/.fleet
/.vscode

/Lecture\ 1/Q1
/Lecture\ 1/Q2
/Lecture\ 1/Q3

/Lecture\ 3/Q1
/Lecture\ 3/Q2
/Lecture\ 3/Q3

/Lecture\ 4/Q1
/Lecture\ 4/Q2
/Lecture\ 4/Q3

/Lecture\ 5/Q1
/Lecture\ 5/Q2

/compile_commands.json
