/.fleet
/.vscode

/Class \Code
/Assignment

/Lecture\ 1/Q1
/Lecture\ 1/Q2
/Lecture\ 1/Q3

/Lecture\ 3/Q1
/Lecture\ 3/Q2
/Lecture\ 3/Q3

/Lecture\ 4/Q1
/Lecture\ 4/Q2
/Lecture\ 4/Q3

/Lecture\ 5/Q1
/Lecture\ 5/Q2

/Lecture\ 6/Q1
/Lecture\ 6/Q2
/Lecture\ 6/Q3

/Lecture\ 7/Q1
/Lecture\ 7/Q2
/Lecture\ 7/Q3
/Lecture\ 7/Q4

/Lecture\ 8/Q1
/Lecture\ 8/Q2
/Lecture\ 8/Q3

/Lecture\ 9/Q1
/Lecture\ 9/Q2
/Lecture\ 9/Q3
/Lecture\ 9/Q4

/Lecture\ 10/Q1
/Lecture\ 10/Q2
/Lecture\ 10/Q3
/Lecture\ 10/Q4

/Lecture\ 11/Q1

/compile_commands.json
